*{
    box-sizing: border-box;
}

body {
    min-height: 200vh;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: teal;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.box {
    width:  400px;
    height: 400px;
    padding: 40px 10px 15px 30px;
    background-color: blue;
    border: 10px solid black;

}

.azul {
    background-color: blue;
    margin-bottom: 10px;

}

.verde{
    background-color: green;
    margin-top: 100px;
}

/*en este ejm prevalece 100px a 10 px*/

